{% extends 'layout.html.twig' %}

{% block contents %}
    <p>ゴール写真が入っているアルバムを選んでください</p>

    {% for fbAlbum in fbAlbums %}
    <img src="{{ fbAlbum['thumbnailPath'] }}" title="{{ fbAlbum['name'] }}"></image>
    {% endfor %}

    <a href="javascript:;" onclick="showImages()" class="btn btn-primary">このアルバムにする</a>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/facebook/invite.js') }}"></script>
{% endblock%}
