{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>select_goal</h1>
      <p>This is a start page of MosaicAlbum.</p>
    </div>

    <a href="javascript:;" onclick="showAlbums()" class="btn btn-primary">ゴール写真を選ぶ</a>
    <a href="javascript:;" onclick="invite()" class="btn btn-primary">友達を招待する</a>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/select_goal/select_goal.js') }}"></script>
{% endblock%}
