{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>select_album</h1>
      <p>This is a start page of MosaicAlbum.</p>
    </div>

    <a href="javascript:;" onclick="showAlbums()" class="btn btn-primary">アルバムを選ぶ</a>

    <form action="{{ urlFor('add_album') }}" method="post">
        <input type="hidden" id="albumId" name="albumId" value="" />
        <button type="submit" class="btn btn-primary">アルバム追加</button>
    </form>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/select_album/select_album.js') }}"></script>
{% endblock%}
