{% extends 'layout.html.twig' %}

{% block contents %}
    <p>使用するアルバムを選んでください</p>

    <select name="albumId" class="albums">
        {% for fbAlbum in fbAlbums %}
        <option data-img-src="{{ fbAlbum['thumbnailPath'] }}" value="{{ fbAlbum['id'] }}">{{ fbAlbum['name'] }}</option>
        {% endfor %}
    </select>
    <a href="javascript:;" onclick="select()" class="btn btn-primary">このアルバムを選ぶ</a> 
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/select_album/modal.js') }}"></script>
{% endblock%}
