{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>Mosaic Album</h1>
      <p>みんなの写真を集めてモザイク写真をつくろう！</p>
      <p><a href="{{ urlFor('doc_top') }}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    {% if loginUrl != '' %}
    <a href="{{ loginUrl }}" class="btn btn-primary">facebookログイン</a>
    {% elseif goalImageId == NULL %}
    <a href="{{ urlFor('select_goal') }}" class="btn btn-primary">スタート</a>
    {% else %}
    <a href="{{ urlFor('album_viewer') }}" class="btn btn-primary">スタート</a>
    {% endif %}
    
{% endblock %}
