{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>Mosaic Album</h1>
      <p>みんなの写真を集めてモザイク写真をつくろう！</p>
    </div>

    {% if loginUrl != '' %}
      <a href="{{ loginUrl }}" class="btn btn-primary">facebookログイン</a>
    {% else %}
      {% if goalImageId != NULL %}
        {% if isGuest %}
          <a href="{{ urlFor('album_viewer') }}" class="btn btn-primary">モザイクアルバムに参加する</a>
        {% else %}
          <a href="{{ urlFor('album_viewer') }}" class="btn btn-primary">参加中の作品を見る</a>
        {% endif %}
      {% endif %}
      <a href="{{ urlFor('select') }}" class="btn btn-primary">新しくモザイクアルバムを作る</a>
    {% endif %}
    
{% endblock %}
