{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>ゴール写真選択＆友人招待</h1>
      <p>モザイク画像として生成される写真を選んでください。</p>
    </div>

    <div class="row">
      <div class="span12">
        <ul class="thumbnails">
          <li class="span12" align="center">
            <div class="thumbnail2">
              <a href="javascript:;" onclick="showAlbums()" class="btn btn-primary">ゴール写真選択</a>
              <img src="http://www.sankou-mw.jp/option/img/pic_no-photo.jpg" alt="ゴール写真" id="goalImage">
              <div class="caption">
                <p id="message">画像が選択されていません</p>
                <div id="selectButton" style="display: none">
                  <button onclick="showRequestDialog()" class="btn btn-primary">この画像に決定</button>
                </div>
                <form action="{{ urlFor('select_post') }}" method="post" id="goal-img-frm">
                  <input type="hidden" id="goalImageId" name="goalImageId" value="" />
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/select/select.js') }}"></script>
{% endblock%}
