{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>select</h1>
      <p>This is a start page of MosaicAlbum.</p>
    </div>

    <a href="javascript:;" onclick="showAlbums()" class="btn btn-primary">ゴールとなる写真を選ぶ</a>
    <a href="javascript:;" onclick="invite()" class="btn btn-primary">友達を招待する</a>

    <div class="row">
      <div class="span9">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <img src="http://www.sankou-mw.jp/option/img/pic_no-photo.jpg" alt="ゴール写真" id="goalImage">
              <div class="caption">
                <p>この写真がモザイク画像の完成形となります。</p>
                <form action="{{ urlFor('select_post') }}" method="post">
                  <input type="hidden" id="goalImageId" name="goalImageId" value="" />
                  <button type="submit" class="btn btn-primary">この画像に決定</button>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/select/select.js') }}"></script>
{% endblock%}
